.full {
    height: 400px;
    width: 100%;
}


button {
    background-color: #4CAF50; /* Green background */
    color: white;              /* White text */
    border: none;              /* No border */
    padding: 10px 20px;        /* Some padding */
    text-align: center;        /* Centered text */
    text-decoration: none;      /* No underline */
    display: inline-block;      /* Inline-block layout */
    font-size: 16px;           /* Font size */
    margin: 10px 2px;         /* Margins */
    cursor: pointer;           /* Pointer cursor on hover */
    border-radius: 5px;       /* Rounded corners */
    transition: background-color 0.3s; /* Transition effect */
  }
  
  button:hover {
    background-color: #45a049; /* Darker green on hover */
  }